/*Siva: rgba(165, 165, 165, 1)*/
/*Plava: rgba(6, 0, 86, 1)*/

*{
    margin: 0;
    padding: 0;
  }

 body{
   background-color: rgba(165, 165, 165, 1);
 }

 .wrapper{
   width: 98%;
   max-width: 1080px;
   margin: 0 auto;
 }

 .top-line{
   line-height: 3em;
   background-color: rgba(6, 0, 86, 1);
   color: white;
   overflow: hidden;
 }

 span.nav_btn{
   line-height: 3em;
   width: 3em;
   float: left;
   text-align: center;
   cursor: pointer;
 }

 li.verzija{
   display: none;
 }

 ul.nav{
   position: absolute;
   top: 3em;
   left: -100%;
   transition: left 0.5s linear;
   border: 1px solid white;
   z-index: 2000;
   background-color: rgba(0, 0, 0, .9);
   height: calc(100% - 3.5em);
   border-bottom-right-radius: 20px;
   border-top-right-radius: 20px;
 }

 ul.responsiveNav{
   display: block;
   transition: left 0.5s linear;
   width: 80%;
   left: 0;
 }

 ul{
   list-style-type: none;
   line-height: 2em;
   background-color: rgba(165, 165, 165, 1);
 }

 li{
   display: inline-block;
   border-top: 1px dotted white;
   width: 100%;
   text-align: center;
 }

li:first-child{
   border-top: none;
 }

 li a{
   color: white;
   text-decoration: none;
   display: block;
   font-weight: bolder;
 }
